@charset "UTF-8";
/*переменные*/
/*миксины*/
/*база*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

/*header*/
.top {
  background-color: #222222;
  padding-top: 30px;
  min-height: 75px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-search {
  fill: #FFFFFF;
}

.logo-search:hover {
  fill: crimson;
}

.logo-check-in {
  fill: #FFFFFF;
  margin-right: 32px;
}

.logo-check-in:hover {
  fill: crimson;
}

.logo-basket {
  fill: #FFFFFF;
}

.logo-basket:hover {
  fill: crimson;
}

#logo-burger {
  display: none;
}

.padding-logo-img {
  padding-right: 40px;
}

.burger-header {
  fill: #FFFFFF;
  margin-right: 32px;
}

.burger-header:hover {
  fill: crimson;
}

.padding-img {
  padding-right: 32px;
}

.nav {
  width: 232px;
  height: 763.98px;
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  margin-top: 38px;
  padding-top: 37px;
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
  z-index: 100;
}

#logo-burger:checked ~ .nav {
  display: block;
}

.nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.checkbox-hidden {
  display: none;
}

.nav-category {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav-category:hover {
  color: black;
}

.nav-list {
  list-style-type: none;
  margin-bottom: 20px;
}

.nav-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-top: 12px;
  margin-left: 20px;
}

@media (max-width: 1180px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .left-top {
    padding-left: 16px;
  }
  .right-top {
    padding-right: 16px;
  }
}

@media (max-width: 755px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo-check-in {
    display: none;
  }
  .logo-basket {
    display: none;
  }
  .left-top {
    padding-left: 0;
  }
  .right-top {
    padding-right: 0;
  }
  .burger-header {
    fill: #FFFFFF;
    margin-right: 0;
  }
}

/*плюсы*/
/*плюсы*/
.pluses {
  background-color: #222224;
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plus-delivery {
  background-image: url(../images/delivery-img.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.img-pluses-delivery {
  margin-bottom: 25px;
}

.img-pluses-sales {
  margin-bottom: 17px;
}

.img-pluses-quality {
  margin-bottom: 22px;
}

.pluses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 103px;
  padding-bottom: 103px;
}

.pluses-heading {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.pluses-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 1180px) {
  .pluses-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .plus {
    margin-bottom: 48px;
  }
}

/*обратная связь*/
/*обратная связь*/
/*обратная связь*/
.feedback {
  background-image: url(../images/backgroundFeedback.png);
  background-repeat: no-repeat;
  background-color: lightgrey;
  background-size: cover;
  background-position: left bottom;
  min-height: 448px;
}

.feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.figure-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  padding-top: 85px;
}

.recall {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.feedback-subscribe {
  width: 360px;
  padding-top: 150px;
}

.subscribe-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe-text-mini {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-input {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  padding: 14px 70px 14px 22px;
  border-radius: 20px 0 0 20px;
  border: none;
}

.feedback-button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 14px 20px 14px 20px;
  border-radius: 0 20px 20px 0;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.feedback-button:hover {
  background-color: #E05C6E;
}

@media (max-width: 1180px) {
  .feedback {
    background-position-x: -270px;
  }
  .feedback-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .figure-feedback {
    padding-top: 53px;
    width: 343px;
  }
  .feedback-subscribe {
    padding-top: 48px;
    padding-bottom: 140px;
    width: 343px;
  }
}

@media (max-width: 755px) {
  .subscribe-text-mini {
    font-size: 17px;
  }
  .feedback-input {
    padding: 14px 54px 14px 22px;
  }
  .feedback-button {
    padding: 14px 17px 14px 17px;
  }
}

/*footer*/
/*footer*/
.footer {
  background-color: #222224;
  min-height: 79px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 15px;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.social-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

@media (max-width: 1180px) {
  .footer-text {
    padding-left: 16px;
  }
  .footer-logos {
    padding-right: 16px;
  }
}

@media (max-width: 522px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 43px;
    padding-bottom: 24px;
  }
}

/*страница главной основное*/
.title {
  background-color: #F1E4E6;
  min-height: 760px;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-heading {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin-right: 95px;
  border-left: 12px solid #F16D7F;
  color: #222222;
  text-transform: uppercase;
  padding-left: 15px;
}

.headind-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.headind-title-mini {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.headind-title-color {
  color: #F16D7F;
}

.heading-title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .title {
    min-height: 367px;
  }
  .title-img {
    height: 362px;
    width: 188px;
    padding-left: 94px;
  }
  .title-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .heading-title-div {
    padding-left: 130px;
  }
  .headind-title {
    font-size: 44px;
    line-height: 53px;
  }
  .headind-title-mini {
    font-size: 24px;
    line-height: 29px;
  }
  .site-heading {
    width: 311px;
    margin-right: 0;
  }
}

@media (max-width: 755px) {
  .title-img {
    display: none;
  }
  .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 363px;
  }
  .heading-title-div {
    margin-right: 0;
    padding-left: 0;
  }
  .site-heading {
    margin-right: 0px;
    width: 260px;
  }
  .headind-title {
    font-size: 38px;
    line-height: 46px;
  }
  .headind-title-mini {
    font-size: 20px;
    line-height: 24px;
  }
}

/*категории товаров на главной*/
.categories {
  padding-bottom: 95px;
  padding-top: 65px;
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: -9999999px;
  width: 1px;
  height: 1px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-item {
  width: 31.57%;
  height: 260px;
  background-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.categories-text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.categories-accessories {
  width: 100%;
  height: 180px;
  background-image: url(../images/accessories-img.jpg);
  background-repeat: no-repeat;
  margin-top: 30px;
}

.categories-men {
  background-size: cover;
  background-image: url(../images/men-img.jpg);
  background-repeat: no-repeat;
}

.categories-women {
  background-size: cover;
  background-image: url(../images/women-img.jpg);
  background-repeat: no-repeat;
}

.categories-kids {
  background-size: cover;
  background-image: url(../images/kids-img.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .categories {
    padding-top: 20px;
    padding-bottom: 150px;
  }
  .categories-item {
    height: 167px;
    margin-top: 32px;
  }
  .categories-accessories {
    height: 116px;
    margin-top: 20px;
  }
  .cards-text {
    margin-bottom: 72px;
  }
}

@media (max-width: 600px) {
  .categories {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  .categories-item {
    width: 100%;
    height: 247px;
  }
  .categories-accessories {
    height: 111px;
    margin-top: 0;
  }
  .categories-accessories {
    margin-top: 32px;
  }
}

/*карточки товаров*/
.cards-container {
  padding-bottom: 95px;
}

.cards-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.cards-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  overflow: hidden;
  margin-left: 5px;
}

.card__image {
  position: relative;
}

.cards-wrap__photo {
  display: block;
}

.overlay {
  position: absolute;
  top: -420px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .overlay {
  opacity: 1;
  top: 0;
}

.card-product-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 9px 18px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card-product-btn:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
}

.card-product-btn:hover svg {
  fill: #F16D7F;
}

.bascet-card {
  fill: #FFFFFF;
  margin-right: 5px;
}

.card-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card-title-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
}

.card-title-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.card__box {
  padding: 22px 18px;
}

.cards-button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  margin-top: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards-button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.cards-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1180px) {
  .card {
    margin-bottom: 17px;
    margin-left: 5px;
  }
  .cards-button {
    margin-top: 15px;
  }
  .cards-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 755px) {
  .cards-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    margin-left: 0;
  }
}

/*название страницы каталога
название страницы продукта*/
.title-catalog {
  background-color: #F8F3F4;
  min-height: 148px;
}

.title-catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 148px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-catalog-heading {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.title-catalog-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-title-catalog {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-title-catalog {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  margin-left: 6px;
  margin-right: 6px;
}

.text-title-catalog:hover {
  color: #F16D7F;
  font-weight: 700;
}

@media (max-width: 761px) {
  .title-catalog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 24px;
    padding-bottom: 46px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*карточки каталога с фильтрами
и пагинацией*/
.catalog-cards-container {
  padding-top: 51px;
  padding-bottom: 65px;
}

.top-catalog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 64px;
  padding-left: 30px;
}

.details-catalog {
  position: relative;
  margin-left: -25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  background-color: #FFFFFF;
}

.details-catalog[open] {
  width: 360px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.details-catalog[open] .filter-text-heading {
  color: #F16D7F;
}

.details-catalog[open] svg {
  fill: #F16D7F;
}

.filter-text-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-text-heading:hover {
  color: #EF5B70;
}

.filter-text-heading:hover svg {
  fill: #EF5B70;
}

.filter-logo {
  color: #000000;
  width: 30px;
}

.filter-content {
  position: absolute;
  width: 360px;
  z-index: 100;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF;
  padding-bottom: 24px;
}

.filter-item {
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  margin-left: 17px;
  margin-bottom: 24px;
  margin-top: 24px;
}

::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  padding: 10px;
  outline: none;
}

.list-product {
  list-style-type: none;
}

.item-prod {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 10px;
  margin-left: 34px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 420px;
}

.benefits-item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 10px;
}

.benefits-text:hover {
  color: #F16D7F;
}

.benefits-text:hover svg {
  fill: #F16D7F;
}

#size-ben {
  display: none;
  position: relative;
}

.block-size {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70px;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 11px;
  margin-left: -12px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: none;
  z-index: 100;
  position: absolute;
  background-color: #FFFFFF;
}

#size-ben:checked ~ .block-size {
  display: block;
}

.block-size-item {
  display: block;
  margin-top: 6px;
}

.benefits-dropdown {
  width: 30px;
}

.catalod-pagination {
  margin-top: 19px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-pagination-wrap {
  border: 1px solid #EBEBEB;
  max-width: 283px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-catalog-pages {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  border: none;
  background-color: white;
}

.button-catalog-pages:hover {
  color: #EF5B70;
}

.button-catalog-pages:hover svg {
  fill: #EF5B70;
}

.button-catalog-pages-margin {
  margin-right: 19px;
}

@media (max-width: 1126px) {
  .catalog-cards-container {
    padding-top: 24px;
  }
  .card-catalog:nth-child(3) {
    display: none;
  }
  .top-catalog-cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 40px;
  }
  .benefits {
    margin-right: 0px;
  }
}

@media (max-width: 761px) {
  .text-filter {
    display: none;
  }
  .benefits-item {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8px;
  }
  .benefits-dropdown {
    width: 18px;
  }
  .filter-logo {
    width: 38px;
    height: 25px;
  }
  .catalod-pagination {
    margin-top: 19px;
    margin-bottom: 0;
  }
}

/*продукт*/
.product {
  background-color: #F7F7F7;
  min-height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 64px;
}

.description-btn {
  background-color: rgba(42, 42, 42, 0.15);
  color: #000000;
  padding: 15px 19px;
  border: none;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description-btn:hover {
  fill: #EF5B70;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.description-btn:active {
  opacity: 0.5;
}

.description-btn-left {
  left: 10px;
}

.descriotion-btn-right {
  right: 10px;
}

@media (max-width: 800px) {
  .product {
    min-height: 624px;
    padding-bottom: 25px;
  }
}

/*описание товара*/
.product-about-container {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: -64px;
  margin-bottom: 130px;
  background-color: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 64px;
  border: 1px solid #EAEAEA;
}

.division-product {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
}

.description-product-line {
  background-color: #EF5B70;
  width: 63px;
  height: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.hidden-product {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
}

.description-product {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48px;
}

.product-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.product-links-line {
  background-color: #EAEAEA;
  height: 1px;
  width: 640px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

.title-products-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-top: 65px;
}

.link-title-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.text-title-product {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 10px;
}

.dropdown-product-list {
  margin-top: 7px;
  width: 30px;
}

.product-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 40px;
  color: #EF5B70;
  border: 1px solid #FF6A6A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 48px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-btn:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  color: #FFFFFF;
  background-color: #F16D7F;
}

.product-btn:hover svg {
  fill: #FFFFFF;
}

.bascet-product {
  fill: #EF5B70;
  padding-right: 22px;
}

@media (max-width: 800px) {
  .product-about-container {
    margin-top: 0;
  }
}

/*карточки товара на стр продукт*/
.product-cards-wrap {
  padding-bottom: 100px;
}

@media (max-width: 1180px) {
  .product-about-container {
    margin-bottom: 64px;
  }
  .card-product:nth-child(3) {
    display: none;
  }
  .product-cards-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 761px) {
  .card-product:nth-child(3) {
    display: inline-block;
  }
  .card-product:nth-child(2) {
    display: none;
  }
}

/*страница cart c ЧАСТЬ. С ПОЛЯМИ ВВОДА и расчетом*/
.title-cart {
  background-color: #F8F3F4;
}

.title-cart__container {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-cart__container_heading {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.cart-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}

.cart-page-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 652px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 55px;
  position: relative;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-page-description {
  margin-top: 22px;
  margin-left: 31px;
}

.cart-page-description__heading {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

.cart-page-description__text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart-page-btn {
  background-color: #FFFFFF;
  border: none;
  font-size: 25px;
  color: #575757;
  position: absolute;
  right: 22px;
  top: 28px;
}

.cart-page-description__text_decoration {
  color: #F16D7F;
}

.cart-page-description__input {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  width: 44px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
}

.cart-page-description__input:hover {
  background-color: lightpink;
}

.cart-page-buttons {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-page-buttons__clear {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  color: #000000;
  text-transform: uppercase;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  margin-top: 32px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-page-buttons__clear:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.cart-page-buttons__continue {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  margin-top: 32px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-page-buttons__continue:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

/*ЧАСТЬ С ПОЛЯМИ ВВОДА и расчетом*/
.cart-page-order {
  width: 360px;
}

.cart-page-adress__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 17px;
}

.cart-page-adress__city {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 15px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  font-family: inherit;
  color: #F16D7F;
}

.cart-page-adress__city::-webkit-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__city:-ms-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__city::-ms-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__city::placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__state {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 15px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  font-family: inherit;
  color: #F16D7F;
}

.cart-page-adress__state::-webkit-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__state:-ms-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__state::-ms-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__state::placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

/*Можно ли такой способ использовать, чтобы убрать стрелочки у инпут number?*/
.cart-page-adress__zip {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 15px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  font-family: inherit;
  color: #F16D7F;
}

.cart-page-adress__zip::-webkit-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__zip:-ms-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__zip::-ms-input-placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__zip::placeholder {
  color: #222222;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
}

.cart-page-adress__zip::-webkit-outer-spin-button, .cart-page-adress__zip::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-page-adress__btn {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #FFFFFF;
  padding: 9px 15px;
  border: 1px solid #A4A4A4;
  margin-top: 24px;
  margin-bottom: 57px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-page-adress__btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.cart-page-check {
  background-color: #E2E2E2;
  padding: 39px 38px 42px 41px;
}

.cart-page-check__price {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
}

.cart-page-check__total-price {
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
}

.cart-page-check__total-price_decoration {
  color: #F16D7F;
}

.cart-page-check__line {
  background-color: #E2E2E2;
  height: 1px;
  margin-top: 21px;
}

.cart-page-check__btn {
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 15px 40px;
  margin-top: 17px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-page-check__btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

@media (max-width: 1180px) {
  .cart-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 59px;
  }
  .cart-page-products {
    padding-bottom: 64px;
  }
  .cart-page-item {
    width: 730px;
  }
  .cart-page-order {
    width: 730px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart-page-adress {
    width: 360px;
  }
  .cart-page-adress__btn {
    margin-bottom: 0;
  }
  .cart-page-check {
    margin-top: 55px;
    padding: 39px 38px 40px 40px;
  }
}

@media (max-width: 765px) {
  .title-cart__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 39px;
  }
  .cart-page-container {
    padding-top: 39px;
    padding-bottom: 96px;
  }
  .cart-page-products {
    padding-bottom: 48px;
  }
  .cart-page-item {
    width: 358px;
    padding-right: 28px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 32px;
  }
  .cart-page-img {
    width: 143px;
    height: 188px;
  }
  .cart-page-description {
    margin-top: 17px;
    margin-left: 13px;
  }
  .cart-page-description__heading {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 25px;
  }
  .cart-page-description__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
  .cart-page-description__input {
    font-size: 10px;
    line-height: 12px;
    width: 23px;
    margin-left: 15px;
  }
  .cart-page-btn {
    font-size: 9px;
    top: 17px;
    right: 12px;
  }
  .cart-page-buttons {
    width: 358px;
  }
  .cart-page-buttons__clear {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 34px;
    margin-top: 0;
  }
  .cart-page-buttons__continue {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 34px;
    margin-top: 0;
  }
  .cart-page-order {
    width: 358px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-page-adress {
    width: 358px;
  }
  .cart-page-adress__heading {
    margin-top: 0;
  }
  .cart-page-adress__city {
    width: 358px;
  }
  .cart-page-adress__state {
    width: 358px;
  }
  .cart-page-adress__zip {
    width: 358px;
  }
  .cart-page-check {
    padding: 39px 38px 40px 40px;
  }
}

/*страница регистрации*/
.title-registration {
  background-color: #F8F3F4;
}

.title-registration-container {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-registration-container__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart-registration-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-registration-forms {
  width: 360px;
  padding-top: 64px;
  padding-bottom: 96px;
}

.cart-registration-forms__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-registration-forms__input-name {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #F16D7F;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
  padding-bottom: 16px;
  width: 360px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-registration-forms__input-name ::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-name :-ms-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-name ::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-name ::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__gender {
  font-family: inherit;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-top: 31px;
}

.cart-registration-forms__gender :nth-child(3) {
  display: none;
}

.gender-margin input {
  margin-right: 10px;
}

.gender-margin {
  margin-right: 20px;
}

.cart-registration-forms__login {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 32px;
}

.cart-registration-forms__input-login {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #F16D7F;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
  padding-bottom: 16px;
  width: 360px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-registration-forms__input-login ::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-login :-ms-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-login ::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__input-login ::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-registration-forms__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 15px;
  padding-bottom: 39px;
}

.cart-registration-form__btn {
  padding: 16px 27px 17px 29px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-registration-form__btn:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart-registration-form__arrow {
  margin-left: 20px;
}

.cart-registration-loyalty {
  padding-top: 64px;
  width: 645px;
}

.cart-registration-loyalty__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cart-registration-loyalty__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 21px;
}

.cart-registration-loyalty__item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.cart-registration-loyalty__item svg {
  margin-right: 23px;
}

@media (max-width: 1180px) {
  .cart-registration-forms {
    width: 358px;
    padding-top: 40px;
  }
  .cart-registration-forms__input-name {
    width: 358px;
  }
  .cart-registration-forms__gender :nth-child(3) {
    display: inline-block;
  }
  .cart-registration-forms__input-login {
    width: 358px;
  }
  .cart-registration-loyalty {
    width: 354px;
  }
  .cart-registration-loyalty__name {
    font-size: 16px;
    line-height: 19px;
  }
  .cart-registration-loyalty__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    font-size: 16px;
    line-height: 19px;
  }
  .cart-registration-loyalty__item {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 766px) {
  .title-registration-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 39px;
  }
  .cart-registration-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 7px;
    padding-right: 7px;
  }
  .cart-registration-forms {
    padding-bottom: 0;
  }
  .cart-registration-loyalty {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */