.categories {
    padding-bottom: 95px;
    padding-top: 65px;
}
.hidden {
    visibility: hidden;
    position: absolute;
    left: -9999999px;
    width: 1px;
    height: 1px;
}
.categories-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories-item {
    width: 31.57%;
    height: 260px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.categories-text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.categories-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.categories-accessories {
    width: 100%;
    height: 180px;
    background-image: url(../images/accessories-img.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
}
.categories-men {
    background-size: cover;
    background-image: url(../images/men-img.jpg);
    background-repeat: no-repeat;
}
.categories-women {
    background-size: cover;
    background-image: url(../images/women-img.jpg);
    background-repeat: no-repeat;
}
.categories-kids {
    background-size: cover;
    background-image: url(../images/kids-img.jpg);
    background-repeat: no-repeat;
}
@media (max-width: 900px) {
    .categories {
        padding-top: 20px;
        padding-bottom: 150px;
    }
    .categories-item {
        height: 167px;
        margin-top: 32px;
    }
    .categories-accessories {
        height: 116px;
        margin-top: 20px;
    }
    .cards-text {
        margin-bottom: 72px;
    }
}
@media (max-width: 600px) {
    .categories {
        padding-top: 32px;
        padding-bottom: 64px;
    }
    .categories-item {
        width: 100%;
        height: 247px;
    }
    .categories-accessories {
        height: 111px;
        margin-top: 0;
    }
    .categories-accessories {
        margin-top: 32px;

    }
}